* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
  resize: none;
  font-family: inherit;
}

:root {
  --theme-color: gray;
  --gallery-item-gap: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open sans", sans-serif;
  font-size: 1.125;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

.wrapper {
  background-color: white;
  padding: 0px 16px;
}

header {
  padding: 0.75rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-bar {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-bar a {
  padding: 0.5rem;
  font-weight: 500;

  &:hover {
    background-color: var(--theme-color);
  }
}

.header-logo {
  flex: 1;
  text-align: center;
  img {
    width: 8rem;
  }
}

main {
  width: 100%;
}

main .heading {
  width: 60%;
  margin: 100px auto;
  text-align: center;

  span {
    background-color: var(--theme-color);
  }
}

main .gallery {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gallery-item-gap);

  div {
    width: calc(calc(100% - calc(var(--gallery-item-gap) * 2)) / 3);
    aspect-ratio: 1 / 1;

    img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

footer {
  border-top: 1px solid gray;
  margin-top: 32px;
  padding: 1.5rem 0;
  display: flex;

  div {
    flex: 1;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      max-width: 30%;
    }
  }

  .contact {
    line-height: 1.5;
    h2 {
      font-size: 1.25em;
    }
  }

  .socials {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 1.25em;
    }

    .favicons i {
      margin: 0 0.125rem;
    }
  }
}
